@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

h1,
p {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
}

.hello-animmated {
  display: inline-block;
  height: 2.5rem;
  margin: 0 1rem;
  animation: hello 1.2s infinite;
}

@keyframes hello {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
